/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/*RESET*/
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: 'Patrick Hand', cursive;
}

/*GLOBAL*/
:root{
    --light-pink: #FFDDD2;
    --medium-pink: #FFB9B9;
    --pink: #FFACC7;
    --dark-pink: #FF8DC7;
    --white: #FFFFFF;
    --fire: #FFA500;
    --text: #524A4E;
}

/*CARD*/
body{
    background-color: var(--light-pink);

    .card{
        width: 640px;
        height: 400px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        -webkit-perspective: 1200px;
        perspective: 1200px;


        &:hover{
            .outside{
                transform: rotateY(-130deg);
            }
        }
    }

    .outside, .inside{
        height: 100%;
        width: 50%;
        position: absolute;

        left: 50.1%;
    }

    .inside{
        background: linear-gradient(
            to right,
            #E0E0E0, var(--white) 25%
        );
        line-height: 20px;
        padding: 0, 20;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 50%;
    }

    .outside{
        --webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: 1;
        transform-origin: left;

        transition: 2s;

        .front, .back{
            height: 100%;
            width: 100%;
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;


            h1{
                font-size: 26px;
                text-transform: uppercase;
                margin-top: 30px;
                margin-left: 10px;
                text-align: center;
                letter-spacing: 6px;
                color: var(--text);
            }
        }

        .front{
            background-color: var(--white);
            .cake{
                width: 100%;
                position: absolute;
                bottom: 30px;
                .top-layer, .middle-layer, .bottom-layer{
                    height: 80px;
                    width: 240px;
                    background-repeat: repeat;
                    background-size: 60px 100px;
                    background-position: 28px 0;
                    background-image: linear-gradient(
                        transparent 50px,
                        var(--medium-pink) 50px,
                        var(--medium-pink) 60px,
                        transparent 60px
                        ), 
                        radial-gradient(
                            circle at 30px 5px,
                            var(--medium-pink) 30px,
                            var(--light-pink) 31px
                        );
                    border-radius: 10px 10px 0 0;
                    position: relative;
                    margin: auto;
                }


                .top-layer{
                    transform: scale(0.7);
                    top: 26px;
                }

                .middle-layer{
                    transform: scale(0.85);
                    top: 6px;
                }

                .candle{
                    height: 45px;
                    width: 15px;
                    background: repeating-linear-gradient(
                        45deg,
                        var(--dark-pink) 0,
                        var(--pink) 5px,
                        var(--medium-pink) 5px,
                        var(--medium-pink) 10px,
                    );

                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    bottom: 202px;

                    &:before{
                        content: "";
                        position: absolute;
                        height: 16px;
                        width: 16px;
                        background-color: var(--fire);
                        border-radius: 0 50% 50% 50%;
                        bottom: 48px;
                        transform: rotate(45deg);
                        left: -1px;
                    }
                }
            }
        }

        .back{
            transform: rotateY(180deg);
            background: linear-gradient(to left, #E0E0E0, var(--white) 20%);
        }
    }
}

